<form class="max-w-md mx-auto" (ngSubmit)="onSubmit()">
  <mat-card-header class="w-full">
    <h1 class="text-center">Login</h1>
  </mat-card-header>
  <mat-form-field class="w-full">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="email" placeholder="Enter your email" name="email" required>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password" placeholder="Enter your password" name="password" required>
  </mat-form-field>
  <button class="w-full" mat-raised-button color="primary" type="submit">Login</button>
  <!-- <button mat-raised-button color="primary" type="submit">Register</button> -->

  <div class="text-center justify-between pt-4">
    <h3>You don't have an account? <a class=" text-red-400" [routerLink]="['/register']" >Register Here !</a></h3>
  </div>

</form>
