<mat-card class="flex justify-center items-center h-screen">
  <form class="bg-slate-400 shadow-md rounded-lg px-8 pt-6 pb-8 mb-4 w-[500px]" (ngSubmit)="handleRegister()">
    <mat-card-header class="w-full">
      <h1 class="text-center">Register</h1>
    </mat-card-header>
    <mat-form-field class="w-full">
      <mat-label>Full Name</mat-label>
      <input matInput type="email" [(ngModel)]="fullName" placeholder="Enter your full name" name="fullName" required />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" placeholder="Enter your email" name="email" required />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" placeholder="Enter your password"
        name="password" required />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Re-Type Password</mat-label>
      <input matInput type="password" [(ngModel)]="rePassword" placeholder="Enter your password" name="rePassword"
        required />

      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <button class="w-full" mat-raised-button color="primary" type="submit">
      Register
    </button>

    <!-- <div class="text-center justify-between pt-4">
      <h3>
        You don't have an account?
        <a class="text-red-400" href="">Register Here !</a>
      </h3>
    </div> -->
  </form>
</mat-card>