<!-- <div class="example-container justify-center items-center">
  <div class="flex justify-center items-center mx-2">
    <h2>Đăng Ký</h2>
  </div>
  <div>
    <form>
      <div class="flex flex-wrap justify-center items-center">
        <mat-form-field class="w-[400px]">
          <mat-label>Tên Đăng Nhập</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>
      <div class="flex flex-wrap justify-center items-center">
        <mat-form-field class="w-[400px]">
          <mat-label>Mật Khẩu</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="flex flex-wrap justify-center items-center">
        <mat-form-field class="w-[400px]">
          <mat-label>Nhập </mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="flex flex-wrap justify-center items-center">
        <button class="w-[400px] mt-4" mat-raised-button type="submit" color="primary">
          Login
        </button>
      </div>
      <div class="flex flex-wrap justify-center items-center">
        <button class="w-[400px] mt-4" mat-raised-button type="submit" color="primary">
          Register
        </button>
      </div>
      <div class="flex flex-wrap justify-center items-center">
        <button class="w-[400px] mt-4" mat-raised-button type="submit" color="primary">
          Login with Google
        </button>
      </div>
    </form>
  </div>

</div> -->

<form class="max-w-md mx-auto" (ngSubmit)="handleRegister()">
  <mat-card-header class="w-full">
    <h1 class="text-center">Register</h1>
  </mat-card-header>
  <mat-form-field class="w-full">
    <mat-label>Full Name</mat-label>
    <input
      matInput
      type="email"
      [(ngModel)]="fullName"
      placeholder="Enter your full name"
      name="fullName"
      required
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      [(ngModel)]="email"
      placeholder="Enter your email"
      name="email"
      required
    />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      [(ngModel)]="password"
      placeholder="Enter your password"
      name="password"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Re-Type Password</mat-label>
    <input
      matInput
      type="password"
      [(ngModel)]="rePassword"
      placeholder="Enter your password"
      name="rePassword"
      required
    />

    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <button class="w-full" mat-raised-button color="primary" type="submit">
    Register
  </button>

  <!-- <div class="text-center justify-between pt-4">
    <h3>
      You don't have an account?
      <a class="text-red-400" href="">Register Here !</a>
    </h3>
  </div> -->
</form>
