<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="../../assets/my-tthouse-logo.png" alt="" />
    <mat-card-title>Gội đầu dưỡng sinh</mat-card-title>
    <mat-card-subtitle
      >Tóc Tươi Mát, Tâm Hồn Sảng Khoái Mang Lại Sức Sống Mới
      Mẻ</mat-card-subtitle
    >
  </mat-card-header>
  <img
    class="h-[400px]"
    mat-card-image
    src="../../assets/shampoo/shampoo1.webp"
    alt="Shampoo"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions class="flex justify-between">
    <div>

      <button mat-icon-button aria-label="home">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button aria-label="edit" (click)="handleOpenEditItemForm()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="share">
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button aria-label="delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
